**/compile_flags.txt
**/.DS_Store
**/build
sdk/include
sdk/lib
lua/richpresence/sdk.so
.venv
middleware/include
middleware/lib
middleware/nanopb
ipc/nanopb
ipc/schema.pb.c
ipc/schema.pb.h
lua/richpresence/ipcwriter.so
